\begin{verbatim}

################################################
# Observation Parameters

OBS_DATE                0                       
OBS_TIME                0                       
OBS_RA                  90.                     
OBS_DEC                 -30.                    
OBS_ALT                 0                       
OBS_AZ                  0                       
OBS_ZENITH_DIST         0                       
OBS_PARALLACTIC_ANGLE   0                       
OBS_SEEING              0.6                     

OBS_FIELD_ROTATION      0                       

OBS_EXPTIME             60                      
OBS_NDIT                1                       
OBS_NONDESTRUCT_TRO     2.6                     
OBS_REMOVE_CONST_BG     no                      
OBS_READ_MODE           single                  
OBS_SAVE_ALL_FRAMES     no                      

OBS_INPUT_SOURCE_PATH   none                    
OBS_FITS_EXT            0                       

OBS_OUTPUT_DIR          "./output.fits"         


################################################
# Simulation Parameters

SIM_DETECTOR_PIX_SCALE  0.004                   
SIM_OVERSAMPLING        1                       
SIM_PIXEL_THRESHOLD     1                       

SIM_LAM_TC_BIN_WIDTH    0.001                   
SIM_SPEC_MIN_STEP       1E-4                    

SIM_FILTER_THRESHOLD    1E-9                    
SIM_USE_FILTER_LAM      yes                     
# if "no"
SIM_LAM_MIN             1.9                     
SIM_LAM_MAX             2.41                    
SIM_LAM_PSF_BIN_WIDTH   0.1                     
SIM_ADC_SHIFT_THRESHOLD 1                       

SIM_PSF_SIZE            1024                    
SIM_PSF_OVERSAMPLE      no                      
SIM_VERBOSE             no                      
SIM_SIM_MESSAGE_LEVEL   3                       

SIM_OPT_TRAIN_IN_PATH   none                    
SIM_OPT_TRAIN_OUT_PATH  none                    
SIM_DETECTOR_IN_PATH    none                    
SIM_DETECTOR_OUT_PATH   none                    


################################################
# Atmospheric Parameters

ATMO_USE_ATMO_BG        yes                     

ATMO_TC                 TC_sky_25.tbl           
ATMO_EC                 EC_sky_25.tbl           
ATMO_BG_MAGNITUDE       13.6                    

ATMO_TEMPERATURE        0                       
ATMO_PRESSURE           750                     
ATMO_REL_HUMIDITY       60                      
ATMO_PWV                2.5                     


################################################
# Telescope Parameters

SCOPE_ALTITUDE          3060                    
SCOPE_LATITUDE          -24.589167              
SCOPE_LONGITUDE         -70.192222              

SCOPE_PSF_FILE          scao                    
SCOPE_STREHL_RATIO      1                       
SCOPE_AO_EFFECTIVENESS  100                     
SCOPE_JITTER_FWHM       0.001                   
SCOPE_DRIFT_DISTANCE    0                       
SCOPE_DRIFT_PROFILE     linear                  

SCOPE_USE_MIRROR_BG     yes                     

SCOPE_NUM_MIRRORS       5                       
SCOPE_TEMP              0                       
SCOPE_M1_TC             TC_mirror_EELT.dat      
SCOPE_MIRROR_LIST       EC_mirrors_EELT_SCAO.tbl


################################################
# Instrument Parameters

INST_TEMPERATURE        -190                    

INST_ENTR_NUM_SURFACES  4                       
INST_ENTR_WINDOW_TC     TC_window.dat           

INST_DICHROIC_NUM_SURFACES  2                   
INST_DICHROIC_TC        TC_dichroic.dat         

INST_FILTER_TC          Ks                      

INST_PUPIL_NUM_SURFACES 2                       
INST_PUPIL_TC           TC_pupil.dat            

# MICADO, collimator 5x, wide-field 2x (zoom 4x)
INST_NUM_MIRRORS        11                      
INST_MIRROR_TC          TC_mirror_gold.dat      

INST_USE_AO_MIRROR_BG   yes                     
INST_AO_TEMPERATURE     0                       
INST_NUM_AO_MIRRORS     7                       
INST_MIRROR_AO_TC       TC_mirror_gold.dat      
INST_MIRROR_AO_LIST     EC_mirrors_ao.tbl       

INST_ADC_PERFORMANCE    100                     
INST_ADC_NUM_SURFACES   8                       
INST_ADC_TC             TC_ADC.dat              

INST_DEROT_PERFORMANCE  100                     
INST_DEROT_PROFILE      linear                  

INST_DISTORTION_MAP     none                    
INST_WFE                data/INST_wfe.tbl       
INST_FLAT_FIELD         none                    

################################################
# Spectroscopy parameters

SPEC_ORDER_SORT         HK                      
SPEC_SLIT_WIDTH         narrow                  

################################################
# Detector parameters

FPA_USE_NOISE           yes                     

FPA_READOUT_MEDIAN      4                       
FPA_READOUT_STDEV       1                       
FPA_DARK_MEDIAN         0.01                    
FPA_DARK_STDEV          0.01                    

FPA_QE                  TC_detector_H2RG.dat    
FPA_NOISE_PATH          FPA_noise.fits          
FPA_GAIN                1                       
FPA_LINEARITY_CURVE     FPA_linearity.dat       
FPA_FULL_WELL_DEPTH     1E5                     

FPA_PIXEL_MAP           none                    
# if FPA_PIXEL_MAP == none
FPA_DEAD_PIXELS         1                       
FPA_DEAD_LINES          1                       

FPA_CHIP_LAYOUT         full                    
FPA_PIXEL_READ_TIME     1E-5                    
FPA_READ_OUT_SCHEME     double_corr             

################################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for details
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        64                      
HXRG_NUM_ROW_OH         8                       
HXRG_PCA0_FILENAME      FPA_nirspec_pca0.fits   
HXRG_OUTPUT_PATH        none                    
HXRG_PEDESTAL           4                       
HXRG_CORR_PINK          3                       
HXRG_UNCORR_PINK        1                       
HXRG_ALT_COL_NOISE      0.5                     

HXRG_NAXIS1             4096                    
HXRG_NAXIS2             4096
HXRG_NUM_NDRO           1                       

\end{verbatim}
