\begin{verbatim}

########################################
# Parameters regarding the "observation"

OBS_RA                  245.885625 
OBS_DEC                 -26.53835  
OBS_SEEING              0.6        

OBS_EXPTIME             10         
OBS_NDIT                1          

#######################################
# Parameters relating to the simulation

SIM_DETECTOR_PIX_SCALE  0.106   


######################################
# Parameters regarding the telescope

SCOPE_ALTITUDE          2635        
SCOPE_LATITUDE          -24.589167  
SCOPE_LONGITUDE         -70.192222  

SCOPE_PSF_FILE          PSF_HAWKI_poppy.fits 

SCOPE_NUM_MIRRORS       3          
SCOPE_M1_TC             TC_mirror_aluminium.dat 
SCOPE_MIRROR_LIST       EC_hawki_vlt_mirrors.tbl


######################################
# Parameters regarding the instrument

INST_TEMPERATURE        -130          
INST_ENTR_NUM_SURFACES  4             
INST_FILTER_TC          TC_filter_Ks_HAWKI.dat
INST_PUPIL_NUM_SURFACES 2              

INST_NUM_MIRRORS        4              
INST_MIRROR_TC          TC_hawki_mirror.dat

INST_USE_AO_MIRROR_BG   no           
INST_AO_TEMPERATURE     0            
INST_NUM_AO_MIRRORS     0            

INST_ADC_PERFORMANCE    0            
INST_ADC_NUM_SURFACES   0            
INST_ADC_TC             none         

INST_WFE                INST_hawki_wfe.tbl 


######################################
# General detector parameters

FPA_READOUT_MEDIAN      12    
FPA_QE                  TC_hawki_H2RG.dat 
FPA_LINEARITY_CURVE     FPA_hawki_linearity.dat
FPA_CHIP_LAYOUT         FPA_hawki_layout_cen.dat 


#########################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for details
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        32       
HXRG_NUM_ROW_OH         8        


\end{verbatim}